<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Criar Post</title>

    <style>

        {{!-- Global Config --}}
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            background: lightgray;
        }
        h1 {
            font-family: sans-serif;
            font-weight: lighter;
            text-align: center;
        }

        p {
            font-family: sans-serif;
            font-size: 1.2rem;
            text-align: justify;
        }

        .data {
            font-size: .8rem;
            text-align: end;
        }

        button {
            width: 5rem;
            height: 1.4rem;

            text-align: center;
            color: white;

            border: none;
            border-radius: 5px;

            background: red;

            cursor: pointer;
        }

        .btnarea {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            border: none;
        }

        .att {
            background: rgb(255, 255, 255);
            color: black;
        }

        .novoPost {
            width: 8rem;
            height: 1.8rem;

            color: black;

            background: rgb(61, 187, 61);
        }

        {{!--DivConfig--}}

        div {
            width: 650px;

            display: flex;
            flex-direction: column;
            align-items: center;

            border-bottom:1px solid rgba(0, 0, 0, 0.363);
        }

        {{!-- Create Post Config --}}

        

        .tituloPost {
            
            text-align: center;
        }
           
     </style>
</head>
    <body>

        {{{body}}}

    </body>
</html>