<form action="/criar" method="POST">
    <div class="formContainer">
        <p class="tituloPost">Titulo:</p>
        <input type="text" name="titulo">
        <p class="conteudoPost">Conteúdo:</p>
        <textarea name="conteudo"></textarea>
        
        <button type="submit">Publicar</button>
    </div>   
</form>